<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'ehead.html' %}
</head>
<body>

<div class="theme-loader">
<div class="ball-scale">
<div class="contain">
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
</div>
</div>
</div>

<div id="pcoded" class="pcoded">
<div class="pcoded-overlay-box"></div>
<div class="pcoded-container navbar-wrapper">
<nav class="navbar header-navbar pcoded-header">
    {% include 'eheader.html' %}
</nav>

<div id="sidebar" class="users p-chat-user showChat">
<div class="had-container">
<div class="card card_main p-fixed users-main">
<div class="user-box">
<div class="chat-inner-header">
<div class="back_chatBox">
<div class="right-icon-control">
<input type="text" class="form-control  search-text" placeholder="Search Friend" id="search-friends">
<div class="form-icon">
<i class="icofont icofont-search"></i>
</div>
</div>
</div>
</div>
<div class="main-friend-list">
<div class="media userlist-box" data-id="1" data-status="online" data-username="Josephin Doe" data-toggle="tooltip" data-placement="left" title="Josephin Doe">
<a class="media-left" href="#!">
<img class="media-object img-radius img-radius" src="../files/assets/images/avatar-3.jpg" alt="Generic placeholder image ">
<div class="live-status bg-success"></div>
</a>
<div class="media-body">
<div class="f-13 chat-header">Josephin Doe</div>
</div>
</div>
<div class="media userlist-box" data-id="2" data-status="online" data-username="Lary Doe" data-toggle="tooltip" data-placement="left" title="Lary Doe">
<a class="media-left" href="#!">
<img class="media-object img-radius" src="../files/assets/images/avatar-2.jpg" alt="Generic placeholder image">
<div class="live-status bg-success"></div>
</a>
<div class="media-body">
<div class="f-13 chat-header">Lary Doe</div>
</div>
</div>
<div class="media userlist-box" data-id="3" data-status="online" data-username="Alice" data-toggle="tooltip" data-placement="left" title="Alice">
<a class="media-left" href="#!">
<img class="media-object img-radius" src="../files/assets/images/avatar-4.jpg" alt="Generic placeholder image">
<div class="live-status bg-success"></div>
</a>
<div class="media-body">
<div class="f-13 chat-header">Alice</div>
</div>
</div>
<div class="media userlist-box" data-id="4" data-status="online" data-username="Alia" data-toggle="tooltip" data-placement="left" title="Alia">
<a class="media-left" href="#!">
<img class="media-object img-radius" src="../files/assets/images/avatar-3.jpg" alt="Generic placeholder image">
<div class="live-status bg-success"></div>
</a>
<div class="media-body">
<div class="f-13 chat-header">Alia</div>
</div>
</div>
<div class="media userlist-box" data-id="5" data-status="online" data-username="Suzen" data-toggle="tooltip" data-placement="left" title="Suzen">
<a class="media-left" href="#!">
<img class="media-object img-radius" src="../files/assets/images/avatar-2.jpg" alt="Generic placeholder image">
<div class="live-status bg-success"></div>
</a>
<div class="media-body">
<div class="f-13 chat-header">Suzen</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="showChat_inner">
<div class="media chat-inner-header">
<a class="back_chatBox">
<i class="feather icon-chevron-left"></i> Josephin Doe
</a>
</div>
<div class="media chat-messages">
<a class="media-left photo-table" href="#!">
<img class="media-object img-radius img-radius m-t-5" src="../files/assets/images/avatar-3.jpg" alt="Generic placeholder image">
</a>
<div class="media-body chat-menu-content">
<div class>
<p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
<p class="chat-time">8:20 a.m.</p>
</div>
</div>
</div>
<div class="media chat-messages">
<div class="media-body chat-menu-reply">
<div class>
<p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
<p class="chat-time">8:20 a.m.</p>
</div>
</div>
<div class="media-right photo-table">
<a href="#!">
<img class="media-object img-radius img-radius m-t-5" src="../files/assets/images/avatar-4.jpg" alt="Generic placeholder image">
</a>
</div>
</div>
<div class="chat-reply-box p-b-20">
<div class="right-icon-control">
<input type="text" class="form-control search-text" placeholder="Share Your Thoughts">
<div class="form-icon">
<i class="feather icon-navigation"></i>
</div>
</div>
</div>
</div>

<div class="pcoded-main-container">
<div class="pcoded-wrapper">
<nav class="pcoded-navbar">
    {% include 'eleftbar.html' %}
</nav>
<div class="pcoded-content">
<div class="pcoded-inner-content">
<div class="main-body">
<div class="page-wrapper">
<div class="page-body">
<div class="row">

<!--start-->

<div class="col-sm-12">



<!--table-->
<div class="card">
    <div class="card-header">
    <h5>View Income Certificate Details</h5>
    
    </div>
    <div class="card-block">
    <div class="dt-responsive table-responsive">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
    <table id="order-table" class="table table-striped table-bordered nowrap">
        <tbody>
            <tr>
                <th>1</th>
                <th>User Name</th>
                <td>{{i_data.0.20}}|{{i_data.0.23}}</td> 
            </tr>
              
            <tr>
                <th>2</th>
                <th>District</th>
                <td>{{i_data.0.3}}</td>
            </tr>

            <tr>
                <th>3</th>
                <th>Taluka</th>
                <td>{{i_data.0.4}}</td>
                
            </tr>
            
            <tr>
                <th>4</th>
                <th>Village</th>
                <td>{{i_data.0.5}}</td>
            </tr>

            <tr>
                <th>5</th>
                <th>Income Name</th>
                <td>{{i_data.0.6}}</td>  
            </tr>

            <tr>
                <th>6</th>
                <th>Gender</th>
                <td>{{i_data.0.7}}</td>
            </tr>

            <tr>
                <th>7</th>
                <th>Address</th>
                <td>{{i_data.0.8}}</td>  
            </tr>
   
            <tr>
                <th>8</th>
                <th>Permanent Address</th>
                <td>{{i_data.0.9}}</td>
            </tr>
        
            
            <tr>
                <th>9</th>
                <th>Income Amount</th>
                <td>₹{{i_data.0.10}}</td>
            </tr>
                   
            <tr>
                <th>10</th>
                <th>Income Year</th>
                <td>{{i_data.0.11}}</td>          
            </tr>

            <tr>
                <th>11</th>
                <th>Issue Date</th>
                <td>{{i_data.0.12|date:'Y-m-d'}}</td>
            </tr>
                   
            <tr>
                <th>12</th>
                <th>Income Status</th>
                <td><select name="i_status" class="form-control">
                    {% if i_data.0.13 == 'Approve' %}
                    <option value="Approve" selected>Approve</option>
                    <option value="Reject">Reject</option>
                    {% else %}
                    <option value="Approve">Approve</option>
                    <option value="Reject" selected>Reject</option>
                    {% endif %}
                </select>

                </td>
            </tr>
            
            <tr>
                <th>14</th>   
                <th>Remark Details</th>
                <td><textarea name="remark_detail" value="" class="form-control" >{{i_data.0.16}}</textarea></td>
            </tr>

            <tr>
                <th>15</th>
                <th>Employee</th>
                <td><select name="b_employee" class="form-control">
                  
                    {% for empdata in emp_data %}
                        {% if empdata.0 == i_data.0.1 %}
                        <option  value="{{empdata.0}}" selected>{{empdata.1}}</option>
                       
                        {% endif %}

                {% endfor %}
                </select></td>     
            </tr>
                        
                            
            <tr>
                <th>16</th>
                <th>Admin Status</th>
                <td><select name="a_status" class="form-control">
                    {% if i_data.0.14 == 'Active' %}
                    <option value="Active" selected>Active</option>
                    {% endif %}
                </select></td>                      
            </tr>
                           
            <tr>
                <th>17</th>
                <th>Employee Status</th>
                <td><select name="e_status" class="form-control">
                    {% if i_data.0.15 == 'Active' %}
                    <option value="Active" selected>Active</option>
                    <option value="Deactive">Deactive</option>
                    {% else %}
                    <option value="Active">Active</option>
                    <option value="Deactive" selected>Deactive</option>
                    {% endif %}
                </select></td>     
            </tr>
            <tr>
                <th>18</th>
                <th> PAN Card  </th>
                <td> <br/><a href="/media/{{i_data.0.19}}" target="_blank">
                    <img src="/media/{{i_data.0.19}}" height="50px" width="50px" /></a>
                  
                    <br/></td>
                
            </tr>
        </tbody>
    
        
                                
    </table>
    <div class="form-group row">
        <label class="col-sm-2"></label>
        <div class="col-sm-10">
        <button type="submit" class="btn btn-primary m-b-0" style="float: right;margin-right: 7px;">Change</button>
        </div>
        </div>
    </form>
    </div>
    </div>
    </div>
    





<!--end-->
</div>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>



{% include 'escript.html' %}

</body>

</html>