{% load static %}


<div class="pcoded-inner-navbar main-menu">
   
    <ul class="pcoded-item pcoded-left-item">
    <li class="">
    <a href="/employeeapp">
    <span class="pcoded-micon"><i class="fa fa-home"></i></span>
    <span class="pcoded-mtext">Dashboard</span>
    </a>
    </li>

    <li >
        <a href="/employeeapp/eprofile">
        <span class="pcoded-micon"><i class="fa fa-user"></i></span>
        <span class="pcoded-mtext">Profile</span>
        </a>
    </li>

    <li >
        <a href="/employeeapp/ebirth">
        <span class="pcoded-micon"><i class="fa fa-certificate"></i></span>
        <span class="pcoded-mtext">Birth</span>
        </a>
    </li>

    <li>
        <a href="/employeeapp/edeath">
        <span class="pcoded-micon"><i class="fa fa-certificate"></i></span>
        <span class="pcoded-mtext">Death</span>
        </a>
    </li>

    <li>
        <a href="/employeeapp/ecast">
        <span class="pcoded-micon"><i class="fa fa-id-card"></i></span>
        <span class="pcoded-mtext">Cast</span>
        </a>
    </li>

    <li>
        <a href="/employeeapp/eincome">
        <span class="pcoded-micon"><i class="fa fa-share-square-o"></i></span>
        <span class="pcoded-mtext">Income</span>
        </a>
    </li>

   
    
        <li>
        <a href="/employeeapp/etax">
        <span class="pcoded-micon"><i class="fa fa-refresh"></i></span>
        <span class="pcoded-mtext">Tax</span>
        </a>
    </li>
    

    <li>
        <a href="/employeeapp/euser">
        <span class="pcoded-micon"><i class="fa fa-user"></i></span>
        <span class="pcoded-mtext">User</span>
        </a>
    </li>
    
    <li>
        <a href="/employeeapp/eemployee">
        <span class="pcoded-micon"><i class="fa fa-users"></i></span>
        <span class="pcoded-mtext">Employee</span>
        </a>
    </li>
    
    <li>
        <a href="/employeeapp/ecategory">
        <span class="pcoded-micon"><i class="fa fa-reorder"></i></span>
        <span class="pcoded-mtext">Category</span>
        </a>
    </li>


    <li>
        <a href="/employeeapp/evillage">
        <span class="pcoded-micon"><i class="fa fa-university"></i></span>
        <span class="pcoded-mtext">Village</span>
        </a>
    </li>

    
    <li>
        <a href="/employeeapp/efeedback">
        <span class="pcoded-micon"><i class="fa fa-comments"></i></span>
        <span class="pcoded-mtext">Feedback</span>
        </a>
    </li>


    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)">
        <span class="pcoded-micon"><i class='fa fa-clipboard'></i></span>
        <span>Report</span>
        </a>
        <ul class="pcoded-submenu">
        <li class=" ">
        <a href="/employeeapp/ebirthreport">
        <i class="fa fa-group"></i>
        <span>Birth</span>
        </a>
        </li>
        <li class=" ">
        <a href="/employeeapp/edeathreport">
        <i class="fa fa-user"></i>
        <span>Death</span>
        </a>
        </li>
        <li class>
        <a href="/employeeapp/ecastreport">
        <i class="fa fa-trophy"></i>
        <span>Cast</span>
        </a>
        </li>
        <li class>
        <a href="/employeeapp/eincomereport">
        <i class="fa fa-comments"></i>
        <span>Income</span>
        </a>
        </li>
        <li class>
        <a href="/employeeapp/etaxreport">
        <i class="fa fa-comments"></i>
        <span>Tax</span>
        </a>
        </li>
        <li class>
        <a href="/employeeapp/euserreport">
        <i class="fa fa-comments"></i>
        <span>User</span>
        </a>
        </li>
        <li class>
        <a href="/employeeapp/eemployeereport">
        <i class="fa fa-comments"></i>
        <span>Employee</span>
        </a>
        </li>
        <li class>
        <a href="/employeeapp/efeedbackreport">
        <i class="fa fa-comments"></i>
        <span>Feedback</span>
        </a>
        </li>
        </ul>
    </li>
    

    <li class>
        <a href="/employeeapp/elogout">
        <span class="pcoded-micon"><i class="fa fa-sign-out"></i></span>
        <span class="pcoded-mtext">Logout</span>
        </a>
    </li>


   
    </ul>
 
  
    </div>