<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'ehead.html' %}
</head>
<body class="fix-menu">

    <div class="theme-loader">
    <div class="ball-scale">
    <div class="contain">
    <div class="ring">
    <div class="frame"></div>
    </div>
    <div class="ring">
    <div class="frame"></div>
    </div>
    <div class="ring">
    <div class="frame"></div>
    </div>
    <div class="ring">
    <div class="frame"></div>
    </div>
    <div class="ring">
    <div class="frame"></div>
    </div>
    <div class="ring">
    <div class="frame"></div>
    </div>
    <div class="ring">
    <div class="frame"></div>
    </div>
    <div class="ring">
    <div class="frame"></div>
    </div>
    <div class="ring">
    <div class="frame"></div>
    </div>
    <div class="ring">
    <div class="frame"></div>
    </div>
    </div>
    </div>
    </div>
    
    <section class="login-block">
    
    <div class="container">
    <div class="row">
    <div class="col-sm-12">
    
    <form class="md-float-material form-material" method="post">
    {% csrf_token %}
    <div class="text-center">
    <img src="{% static '/assets/images/logo.png' %}" alt="logo.png" style="
    height: 78px;
    border-radius: 10px;
">
    </div>
    <div class="auth-box card">
    <div class="card-block">
    <div class="row m-b-20">
    <div class="col-md-12">
    <h3 class="text-center">Sign In</h3>
    </div>
    </div>
    <div class="form-group form-primary">
    <input type="text" name="e_contact" class="form-control" required placeholder="Contact">
    <span class="form-bar"></span>
    </div>
    <div class="form-group form-primary">
    <input type="password" name="e_password" class="form-control" required id="myInput" placeholder="Password">
    <span class="form-bar"></span>
    </div>
    <div class="row m-t-25 text-left">
    <div class="col-12">
    <div class="checkbox-fade fade-in-primary d-">
    <label>
    <input type="checkbox" onclick="myFunction()" value>
    <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
    <span class="text-inverse">Show Password</span>
    </label>
    </div>
  
    </div>
    </div>
    <div class="row m-t-30">
    <div class="col-md-12">
    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Sign
    in</button>
    </div>
  
    </div>
    <hr/>
    {% if msg != "" %}
    <br/>
    <div class="alert alert-danger">{{msg}}</div>
    {% endif %}
    </div>
    </div>
    </form>
    
    </div>
    
    </div>
    
    </div>
    
    </section>

    <script>
        function myFunction() {
          var x = document.getElementById("myInput");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
        </script>
    
    {% include 'escript.html' %}

    </body>
    

</html>