<!DOCTYPE html>

<html lang="en">
<!--<![endif]-->
{% load static %}
{% include 'uhead.html' %}

<body>
	<!-- preloader Start -->

	<!-- Top Scroll End -->
	<!-- Top Header Wrapper Start -->
	{% include 'uheader.html' %}
	<!-- Top Header Wrapper End -->
	<!-- Header Wrapper Start -->
	
	<!-- Header Wrapper End -->
	<!-- map Wrapper Start -->
	{% include 'ubanner.html' %}
	<!-- map Wrapper End -->
<!--start-->

<div class="aboutus_section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
				<div class="about_text_wrapper">
					<div class="section_heading section_2_heading">
						<h2>how we <span>do it ?</span></h2>
					</div>
					<p>This project’s goal is to develop a E Gram Panchayat website. This is an online application which can be access through internet from anywhere and at any time. 
						The main objective of this website is to provide information of newly implemented schemes to villagers so that they can apply for those schemes.</p>
					<p>They also can apply for any document or certificate like birth and death certificate, assessment certificate and BPL certificate. 

						The website will also focus on farmer support, this will help to provide support to farmers to provide market for their crops.</p>
						<p>A Digital Gram Panchayat refers to the integration of digital technology into the functioning of rural local governance, with the aim of enhancing transparency, accessibility, and efficiency in the delivery of public services.</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
				<div class="about_image_wrapper">
					<img class="img-responsive" style="height:500px;width:382px" src="static/images/content/dada3.jpg"  alt="about-img">
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
				<div class="about_text_wrapper abt_2_para">
					<div class="section_heading section_2_heading">
						<h2>What we<span> do it ?</span></h2>
					</div>
					<p>Villages will get the information about government services and related documents digitally from gram panchayat.The other objective of digital gram panchayat service is to reduce paper consumption and also the workload of servants of gram panchayat</p>
					<p>The Transparency of communication between gram panchayat and service users.This is to reduce the time of villagers who visits the panchayat office frequently to get the information about scheme /service.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="jp_career_main_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="jp_hiring_slider_main_wrapper">
					<div class="jp_career_slider_heading_wrapper">
						
					</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<!--end-->
	<!-- jp footer Wrapper End -->
	{% include 'ufooter.html' %}
	<!--main js file start-->
	{% include 'uscript.html' %}
	<!--main js file end-->
</body>

</html>