<!DOCTYPE html>

<html lang="en">
<!--<![endif]-->
{% load static %}
{% include 'uhead.html' %}

<body>
	<!-- preloader Start -->

	<!-- Top Scroll End -->
	<!-- Top Header Wrapper Start -->
	{% include 'uheader.html' %}
	<!-- Top Header Wrapper End -->
	<!-- Header Wrapper Start -->
	
	<!-- Header Wrapper End -->
	<!-- map Wrapper Start -->
	{% include 'ubanner.html' %}
	<!-- map Wrapper End -->
<!--start-->

<div class="jp_contact_heading_main_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="jp_contact_heading_wrapper">
					<h2>Our Helpline 24x7 Available</h2>
					<p>Call us at <span>07923244320</span> or Email us at <a href="#">Mscit@yahoo.com</a></p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="jp_contact_map_wrapper">
	<iframe 
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.2095236694284!2d72.6408566150646!3d23.214176782849808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2b9421f1bca5%3A0x9ed4455e8e4c9ce0!2sLDRP%20Institute%20of%20Technology%20%26%20Research!5e0!3m2!1sen!2sin!4v1737249234567!5m2!1sen!2sin" 
  width="100%" 
  height="450" 
  style="border:0;" 
  allowfullscreen="" 
  loading="lazy" 
  referrerpolicy="no-referrer-when-downgrade">
</iframe>

</div>
<!-- jp Contact heading Wrapper End -->
<!-- jp Contact form Wrapper Start -->
<form class="form-contact" method="post">
	{% csrf_token %}
	<div class="jp_contact_form_main_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="jp_contact_form_heading_wrapper">
						<h2>Leave A Message</h2>
					</div>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<div class="jp_contact_form_box">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="jp_contact_inputs_wrapper">
								<i class="fa fa-user"></i><input type="text" pattern="[A-Za-z\s]+" title="Please Enter Valid Name."  required  name="f_name" placeholder="Name *">
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="jp_contact_inputs_wrapper jp_contact_inputs2_wrapper">
								<i class="fa fa-phone"></i><input type="text" maxlength="10" pattern="[0-9]{10}" title="Ex.9876543210"  required name="f_contact" placeholder="Contact *">
							</div>
						</div>
						
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="jp_contact_inputs_wrapper jp_contact_inputs4_wrapper">
								<i class="fa fa-text-height"></i><textarea rows="6" required  name="f_message" placeholder="Type Your Message *"></textarea>
							</div>
						</div>
						

						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_contact_form_btn_wrapper">
                                <ul>
                                    <li><button style="float: left;
										width: 160px;
										height: 50px;
										line-height: 45px;
										color: #ffffff;
										border: 1px solid #f36969;
										background: #f36969;
										text-align: center;
										text-transform: uppercase;
										-webkit-border-radius: 10px;
										-moz-border-radius: 10px;
										border-radius: 10px;
										-webkit-transition: all 0.5s;
										-o-transition: all 0.5s;
										-ms-transition: all 0.5s;
										-moz-transition: all 0.5s;
										transition: all 0.5s;
									" type="submit"><i class="fa fa-plus-circle"></i>&nbsp; SEND</button></li>
                                </ul>
                            </div>
                        </div>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="jp_contact_right_box_wrapper">
						<div class="jp_contact_form_add_heading_wrapper">
							<h2>Contact Info</h2>
						</div>
						<div class="jp_form_add_wrapper gc_map_add_wrapper1">
							<div class="jp_map_location_icon_wrapper">
								<i class="fa fa-map-marker"></i>
							</div>
							<div class="gc_map_location_icon_cont_wrapper">
								<h3>Gandhinagar, Gujarat 382007</h3>
							</div>
						</div>
						<div class="jp_form_add_wrapper gc_map_add_wrapper2">
							<div class="jp_map_location_icon_wrapper">
								<i class="fa fa-phone"></i>
							</div>
							<div class="gc_map_location_icon_cont_wrapper gc_map_location_icon_cont_wrapper2">
								<h3> 07923244320</h3>
							</div>
						</div>
						
						<div class="jp_form_add_wrapper gc_map_add_wrapper3">
							<div class="jp_map_location_icon_wrapper">
								<i class="fa fa-envelope"></i>
							</div>
							<div class="gc_map_location_icon_cont_wrapper gc_map_location_icon_cont_wrapper4">
								<h3> <a href="#">Mscit@yahoo.com</a></h3>
							</div>
						</div>
						<div class="jp_contact_form_social_icon">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>



<!--end-->
	<!-- jp footer Wrapper End -->
	{% include 'ufooter.html' %}
	<!--main js file start-->
	{% include 'uscript.html' %}
	<!--main js file end-->
</body>

</html>