<!DOCTYPE html>

<html lang="en">
<!--<![endif]-->
{% load static %}
{% include 'uhead.html' %}

<body>
	<!-- preloader Start -->

	<!-- Top Scroll End -->
	<!-- Top Header Wrapper Start -->
	{% include 'uheader.html' %}
	<!-- Top Header Wrapper End -->
	<!-- Header Wrapper Start -->
	
	<!-- Header Wrapper End -->
	<!-- map Wrapper Start -->
	{% include 'uslider.html' %}
	<!-- map Wrapper End -->
<!--start-->
<link rel="stylesheet" type="text/css" href="{% static 'css/style_vi.css' %}" />
<div class="jp_banner_jobs_categories_wrapper">
	<div class="container">
		<div class="jp_top_jobs_category_wrapper jp_job_cate_left_border jp_job_cate_left_border_bottom">
			<div class="jp_top_jobs_category"> <img src="{% static 'images/content/digital_india.jpg' %}" style="height: 98px;">

			</div>
		</div>
		<div class="jp_top_jobs_category_wrapper jp_job_cate_left_border_bottom">
			<div class="jp_top_jobs_category"><img src="{% static 'images/content/swachh.jpg' %}" style="height: 98px;"> 
			</div>
		</div>
		<div class="jp_top_jobs_category_wrapper jp_job_cate_left_border_bottom">
			<div class="jp_top_jobs_category"> <img src="{% static 'images/content/make_in_india.jpeg' %}" style="height: 98px;">
			</div>
		</div>
		<div class="jp_top_jobs_category_wrapper jp_job_cate_left_border_res">
			<div class="jp_top_jobs_category"> <img src="{% static 'images/content/satyamev.png' %}" style="height: 98px;">
			</div>
		</div>
		<div class="jp_top_jobs_category_wrapper">
			<div class="jp_top_jobs_category"><img src="{% static 'images/content/startup.jpeg' %}" style="height: 98px;"> 
			</div>
		</div>
		<div class="jp_top_jobs_category_wrapper">
			<div class="jp_top_jobs_category"> <img src="{% static 'images/content/e_gov.jpg' %}" style="height: 98px;">
				
			</div>
		</div>
	</div>
</div>

<div class="jp_register_section_main_wrapper">
	<div class="jp_regis_left_side_box_wrapper" style="border: 1px solid #1c174f;">
		<div class="jp_regis_left_side_box">
			
			<h4>Welcome To,</h4>
			<p style="text-align: justify;margin-left:20px;margin-right: 52px;">The Gram Panchayat software is specially developed for Gram Panchayat to support Digital India. It helps you to run all Gram Panchayat's operations smoothly and makes the process very easy.</p>
			
		</div>
	</div>
	<div class="jp_regis_right_side_box_wrapper" style="height: 314px;border: 1px solid #1c174f; background-color: #ffffff;">
		<div class="jp_regis_right"></div>
		<div class="jp_regis_right_side_box">
			
		</div>
		<div class="jp_regis_center_tag_wrapper" style="height: 108px;width: 100px;">
			<p>Digital <br/>Gram<br/>Panchayat</p>
		</div>
	</div>

</div>

<div class="jp_counter_main_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="jp_counter_heading">
					<h4>Counter Section</h4>
					<p style="text-align: justify;">The most important thing about user-generated content isn’t that it exists — people will always talk about services they like. It’s how you decide to leverage it for your brand that matters. This article will dive into the benefits of user-generated content .</p>
					<ul>
						<li><a href="usignin"> Get Started</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="jp_counter_main_section_wrapper">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="gc_counter_cont_wrapper">
								<div class="count-description">
									<div class="jp_count_icon_wrapper">	<i class="fa fa-star"></i> 
									</div>
									<div class="jp_count_icon_cont_wrapper" style="margin-top: -89px;">	<span class="timer">250</span>
										<h5 class="con1">Users</h5>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="gc_counter_cont_wrapper gc_counter_cont_wrapper3">
								<div class="count-description">
									<div class="jp_count_icon_wrapper">	<i class="fa fa-user-o"></i>
									</div>
									<div class="jp_count_icon_cont_wrapper" style="margin-top: -89px;">	<span class="timer">700</span>
										<h5 class="con1">Certificate</h5>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="gc_counter_cont_wrapper gc_counter_cont_wrapper2">
								<div class="count-description">
									<div class="jp_count_icon_wrapper">	<i class="fa fa-trophy"></i>
									</div>
									<div class="jp_count_icon_cont_wrapper" style="margin-top: -89px;">	<span class="timer">87</span>
										<h5 class="con1">Downloads</h5>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="gc_counter_cont_wrapper gc_counter_cont_wrapper2">
								<div class="count-description">
									<div class="jp_count_icon_wrapper">	<i class="fa fa-location-arrow"></i>
									</div>
									<div class="jp_count_icon_cont_wrapper" style="margin-top: -89px;">	<span class="timer">759</span>
										<h5 class="con1">visitors</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="jp_client_slider_main_wrapper" style="
background-color: rgba(0, 0, 0, .075);
">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="jp_first_client_slider_wrapper">
					<div class="jp_first_client_slider_img_overlay"></div>
					<div class="jp_client_heading_wrapper">
						<h2>What Clients Say?</h2>
					</div>
					<div class="jp_client_slider_wrapper">
						<div class="owl-carousel owl-theme">
							{% for frow in f_data %}
							<div class="item">
								<div class="jp_client_slide_show_wrapper">
									<div class="jp_client_slider_img_wrapper">
										<img src="{% static 'images/user.png' %}" alt="client_img" />
									</div>
									<div class="jp_client_slider_cont_wrapper">
										<p>“{{frow.3}}”</p>
										<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i><span>~ {{frow.1}} &nbsp;<b>(User)</b></span>
									</div>
								</div>
							</div>
							{% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!--end-->
	<!-- jp footer Wrapper End -->
	{% include 'ufooter.html' %}
	<!--main js file start-->
	{% include 'uscript.html' %}
	<!--main js file end-->
</body>

</html>