{% load static %}

<script src="{% static 'js/jquery_min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery.menu-aim.js' %}"></script>
<script src="{% static 'js/jquery.countTo.js' %}"></script>
<script src="{% static 'js/jquery.inview.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/modernizr.js' %}"></script>
<script src="{% static 'js/custom_vi.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>