<!DOCTYPE html>

<html lang="en">
<!--<![endif]-->
{% load static %}
{% include 'uhead.html' %}

<body>
	<!-- preloader Start -->
    
	<!-- Top Scroll End -->
	<!-- Top Header Wrapper Start -->
	{% include 'uheader.html' %}
	<!-- Top Header Wrapper End -->
	<!-- Header Wrapper Start -->
	
	<!-- Header Wrapper End -->
	<!-- map Wrapper Start -->
	{% include 'ubanner.html' %}
	<!-- map Wrapper End -->
<!--start-->
<div class="register_section">
	<!-- register_form_wrapper -->
	<div class="register_tab_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div role="tabpanel">

						<!-- Nav tabs -->
						<ul id="tabOne" class="nav register-tabs">
							<li class="active"><a href="#contentOne-1" data-toggle="tab">User Sign In<br>
									<span>login with your credentials</span></a>
							</li>
							
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div class="tab-pane fade in active register_left_form" id="contentOne-1">
								
								<div class="row">
									<form method="POST" enctype="multipart/form-data" data-toggle="validator">
										{% csrf_token %}
										<!--Form Group-->
										<div class="form-group col-md-12 col-sm-12 col-xs-12">
											
											<label for="">User Name</label>
											<input type="text" class="form-control" name="u_contact" maxlength="10" pattern="[0-9]{10}" title="Ex.9876543210"  required id="email2" placeholder="Enter Contact Number*">
												
										</div>
										
										<div class="form-group col-md-12 col-sm-12 col-xs-12">
											<label for="">Password</label>
											
											<input type="password" id="myInput"  class="form-control" name="u_password" required  placeholder="Password *">
											<label class="control control--checkbox"><input type="checkbox" id="myInput" onclick="myFunction()"> Show Password </label>
											</div>

										
										
										<div class="login_btn_wrapper register_btn_wrapper login_wrapper ">
											<button type="submit"
												class="btn btn-primary login_btn">Sigin</button>
												{% if msg != "" %}
												
												<div class="alert alert-danger">
													<strong>{{msg}}</strong>
												</div>
												{% endif %}
										</div>
									</form>
								</div>
								<div class="login_message">
									<p>Don’t have an account ? <a href="usignup"> Sign Up </a> | <a href="uforgotpassword">Forgot Password</a></p>
								</div>
							</div>
							
						</div>
					   
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function myFunction() {
	  var x = document.getElementById("myInput");
	  if (x.type === "password") {
		x.type = "text";
	  } else {
		x.type = "password";
	  }
	}
</script>

<!--end-->
	<!-- jp footer Wrapper End -->
	{% include 'ufooter.html' %}
	<!--main js file start-->
	{% include 'uscript.html' %}
	<!--main js file end-->
</body>

</html>