<!DOCTYPE html>

<html lang="en">
<!--<![endif]-->
{% load static %}
{% include 'uhead.html' %}

<body>
	<!-- preloader Start -->

	<!-- Top Scroll End -->
	<!-- Top Header Wrapper Start -->
	{% include 'uheader.html' %}
	<!-- Top Header Wrapper End -->
	<!-- Header Wrapper Start -->
	
	<!-- Header Wrapper End -->
	<!-- map Wrapper Start -->
	{% include 'ubanner.html' %}
	<!-- map Wrapper End -->
<!--start-->
<div class="aboutus_section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
				<div class="about_text_wrapper">
					<div class="section_heading section_2_heading">
						<h2>Terms &  <span>Conditions </span></h2>
					</div>
					<p>In this users can downlad their certificate digitally .The software supports achieving the goal of human development, including social and economic development and imparting knowledge about various schemes and job details provided by the government for betterment of rural development . Users are required to accept the terms and conditions before using the website .</p>
					<ul>
						<li><i class="fa fa-check-square" aria-hidden="true"></i><a href="#">The certficate is verify by Government and their Employee .</a>
						</li>
						<li><i class="fa fa-check-square" aria-hidden="true"></i><a href="#">They must have to register for before getting any certficate .</a>
						</li>
						<li><i class="fa fa-check-square" aria-hidden="true"></i><a href="#">After the verification done user can download their certficate .</a>
						</li>
						<li><i class="fa fa-check-square" aria-hidden="true"></i><a href="#">Users must be to fill valid information .</a>
						</li>
						<li><i class="fa fa-check-square" aria-hidden="true"></i><a href="#">Users have to upload their valid idproof for verification .</a>
						</li>
						<li><i class="fa fa-check-square" aria-hidden="true"></i><a href="#">By using the Digital Gram Panchayat platform, you agree to adhere to all applicable laws, respect others’ privacy and content,</a>
						</li>
						<li><i class="fa fa-check-square" aria-hidden="true"></i><a href="#">Users retain ownership of any content they submit (e.g., comments, posts, suggestions).</a>
						</li>
						<li><i class="fa fa-check-square" aria-hidden="true"></i><a href="#">We use reasonable security measures to protect your data. However, no system is entirely secure, and we cannot guarantee absolute data security.</a>
						</li>
						<li><i class="fa fa-check-square" aria-hidden="true"></i><a href="#">The Digital Gram Panchayat reserves the right to modify, update, or change these Terms and Conditions at any time.</a>
						</li>
						<li><i class="fa fa-check-square" aria-hidden="true"></i><a href="#">Lifetime updates & support.</a>
						</li>
					</ul>
				</div>
			</div>
			
			
		</div>
	</div>
</div>



<!--end-->
	<!-- jp footer Wrapper End -->
	{% include 'ufooter.html' %}
	<!--main js file start-->
	{% include 'uscript.html' %}
	<!--main js file end-->
</body>

</html>